<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4>Cynthia Budiono</h4>
  <h4>C14180210</h4>

  <h6>Game Sederhana</h6>
  <ion-item>
    <ion-input type="number" [(ngModel)]="txttebak" placeholder="Masukkin angka 1-20"></ion-input>
  </ion-item>

  <ion-button color="primary" (click)= "tebak()">Tebak</ion-button>

  <!-- {{acak}} -->
  <ng-template *ngIf="cek; then templatetrue;"></ng-template>
  <ng-template #templatetrue>
    <img src="assets/chan.png" alt="not found">
    <p>You Win!!</p>
  </ng-template>

  <ng-template *ngIf="cek==false; then templatefalse;"></ng-template>
  <ng-template #templatefalse>
    <p>You Lose</p>
  </ng-template>
</ion-content>
